server {
    listen 80;
    server_name {{ repo_server_name }};

    # Logging
    access_log /var/log/nginx/{{ repo_server_name }}.access.log gzip buffer=32k;
    error_log /var/log/nginx/{{ repo_server_name }}.error.log notice;

    location / {
        root /var/www/repo/;
        autoindex on;
    }

    # serve static files directly
    location ~* \.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt)$ {
        expires max;
    }

    location ~ /rpcgit(/.*) {
        gzip off;
        fastcgi_param SCRIPT_FILENAME /usr/lib/git-core/git-http-backend;
        fastcgi_param SCRIPT_NAME git-http-backend;
        fastcgi_param GIT_HTTP_EXPORT_ALL "";
        fastcgi_param GIT_PROJECT_ROOT /var/www/repo/rpcgit;
        fastcgi_param PATH_INFO $1;
        include /etc/nginx/fastcgi_params;
        fastcgi_pass unix:/var/run/fcgiwrap.socket;
    }
}
